html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  border-bottom: 1px solid #a63f38;
}

img {
  width: 40px;
}

header .grains {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  border-bottom: 1px solid #a63f38;
}

h1 {
  margin: 0;
  font-size: 2rem;
  padding: .4rem;
  font-weight: bold;
}

.links ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  width: 33.3333%;
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  padding: .5em 0;
  width: 100%;
  text-align: center;
}

.links .cereals {
  border: 1px solid #a63f38;
  border-top: 0;
  border-bottom: 0;
}

.links a:hover {
  background-color: #a63f38;
}
